.login {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    .login-form {
        margin: 60px auto 0;
        width: 500px;
        .login-in {
            margin-right: 20px;
        }
    }
    h1 {
        padding: 20px 0;
    }
}
